* {
    font-family: "poppins", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111111;
    overflow: hidden;
}

.content {
    position: absolute;
    margin-top: 0;
    height: 100vh;
    width: 80vw; /* Ajuste conforme necessário para o "Main Content" */
    right: 0rem;
    background-color: #3069db;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.content > h1 {
    margin-left: 5px;
}

.content > .messages {
    height: 77%;
    overflow-y: scroll;
    padding: 10px;
}

.content > .messages > div {
    margin-top: 5px;
    position: relative;
    margin-left: 1rem;
    width: 95%;

    display: flex;
    align-items: flex-start;
}

.message-content {
    word-wrap: break-word;
    
    border-radius: 50px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.input-container {
    display: flex;
}

.content > input {
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-top: 10px;
    padding: 10px; /* Adiciona algum preenchimento para tornar a caixa de texto mais amigável */
}

.submit {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    margin-top: 10px;
    margin-left: 5px; /* Espaçamento entre a entrada e o botão */
}
