* {
    font-family: "poppins", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #434963;
    overflow: hidden;
}

.content {
    position: absolute;
    margin-top: 0;
    height: 100vh;
    width: 80vw; /* Ajuste conforme necessário para o "Main Content" */
    right: 0rem;
    background-color: #3069db;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(6, 10, 24, 0.2);
    display: flex;
    flex-direction: column;
}

.content > h1 {
    margin-left: 5px;
}

.content > .messages {
    flex: 1; /* Faz com que a área de mensagens ocupe o espaço restante */
    overflow-y: scroll;
    padding: 10px;
}

.content > .messages > div {
    margin-top: 5px;
    position: relative;
    margin-left: 1rem;
    width: 95%;
    display: flex;
    align-items: flex-start;
}

.message-content {
    word-wrap: break-word;
    border-radius: 50px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.input-container {
    display: flex;
    width: 100%; /* Ajusta a largura para ocupar o espaço total disponível */
    margin-top: 10px;
}

.content > input {
    flex: 0; /* Ocupa todo o espaço disponível */
    margin-top: 10px;
    padding: 10px; /* Adiciona algum preenchimento para tornar a caixa de texto mais amigável */
    border-radius: 50px;
}

.submit {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    margin-left: 5px; /* Espaçamento entre a entrada e o botão */
    border-radius: 50px;
}
